/* this is how to write invisible notes in css*/

/*
<header>
	<img src="img/profile.jpg">
	<h1>Wreck-it Ralph</h1>
</header>
*/

html, body{
	font-family: Helvetica, sans-serif; 
	margin: 0; /*removes the white border around the page in chrome, if this doesn't work can try padding*/
}

header{
	background-color: #0b6475;
	background-image: url('../img/pixel-image-100.jpg'); /* '../' means folder up*/ 
	background-repeat: repeat;
	padding: 40px; /*here all padding are the same*/
	/* 
	  > if we want all different sizes padding: (top)40px (left)20px (buttom)10px (right)90px;
	  > if we want top buttom and left right the same padding: (top/buttom)40px (left/right)20px;
	*/
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 40px 20px black; /*text-shadow: (xvalue)0 (yvalue)40px (blur amount)20px (colour shadow)black;*/
	margin: 0;
	text-transform: uppercase;
}

header img{
	border-radius: 150px; 
	/*Specifies the radius of a quarter circle or ellipse that forms the corners of the outer-edge of the border area of a box. 
	It require a border for it to take effect*/
	width:300px;
	border: 10px solid #ab0c36;
	box-shadow: 0 10px 20px black; /* same logic as text-shadow*/
}

.content{
	max-width: 900px;
	margin: 0 auto;
	color: #5f6363;
}

img.big-image{
	max-width: 100%; /*the image will take the max width possible in the browser depending on the size and responsive with the screensize"*/
}

p.caption{
	font.size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color:#ab0c36;
	text-decoration: none;
}

footer{
	margin-top: 20px; 
	padding: 40px 20px;
	background-color: #c1d2d4;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;

}